@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-inter: var(--font-inter);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --breakpoint-fold: 17.5rem; /*280px / 16 = 17.5rem (Galaxy Fold folded) */
  --breakpoint-xs: 20rem; /* 320px / 16 = 20rem (iPhone 5/SE)*/
  --breakpoint-sm: 23.4375rem; /* 375px / 16 = 23.4375rem (iPhone 6/7/8, iPhone X/XS/11 Pro, iPhone 13 Mini, iPhone 14)*/
  --breakpoint-sm-md: 24.375rem; /* 390px / 16 = 24.375rem (iPhone 13, iPhone 14 Pro, iPhone 15, iPhone 16)*/
  --breakpoint-md: 26.75rem; /* 428px / 16 = 26.75rem (iPhone 6/7/8 Plus, iPhone XR/11, iPhone 13 Pro Max, iPhone 14 Plus, iPhone 15 Plus, iPhone 16 Plus)*/
  --breakpoint-lg: 40.8125rem; /* 653px / 16 = 40.8125rem (Galaxy Fold unfolded, iPad Mini in portrait)*/
  --breakpoint-lg-md: 48rem; /* 768px / 16 = 40.8125rem (Galaxy Fold unfolded, iPad Mini in portrait)*/
  --breakpoint-xl: 64rem; /* 1024px / 16 = 64rem (iPad Pro 10.5", iPad Pro 12.9")*/
  --breakpoint-2xl: 80rem; /* 1280px / 16 = 80rem (small laptops, desktops)*/
  --breakpoint-3xl: 90rem; /* 1440px / 16 = 90rem (larger desktops)*/
  --breakpoint-4xl: 120rem; /* 1920px / 16 = 120rem (full HD desktops)*/
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.68 0.1996 25.67); /* #FC5954; */
  --primary-foreground: oklch(0.98 0.0238 99.1);
  --secondary: oklch(26.01% 0.004 264.5); /* #232426; */
  --secondary-foreground: oklch(0.68 0.1996 25.67);
  --muted: oklch(26.01% 0.004 264.5);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(26.01% 0.004 264.5);
  --accent-foreground: oklch(0.68 0.1996 25.67);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(84.51% 0.0072 268.54); /*#CACCD1*/
  --input: oklch(84.51% 0.0072 268.54);
  --input-error: oklch(60.28% 0.2088 16.6); /*#e23353*/
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.98 0.0238 99.1);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.68 0.1996 25.67);
  --sidebar-primary-foreground: oklch(0.98 0.0238 99.1);
  --sidebar-accent: oklch(26.01% 0.004 264.5);
  --sidebar-accent-foreground: oklch(0.68 0.1996 25.67);
  --sidebar-border: oklch(0.93 0.0051 228.82);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.98 0.0238 99.1);
  --card: oklch(0.68 0.1996 25.67);
  --card-foreground: oklch(0.98 0.0238 99.1);
  --popover: oklch(0.68 0.1996 25.67);
  --popover-foreground: oklch(0.98 0.0238 99.1);
  --primary: oklch(84.51% 0.0072 268.54);
  --primary-foreground: oklch(0.68 0.1996 25.67);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.98 0.0238 99.1);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.98 0.0238 99.1);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.68 0.1996 25.67);
  --sidebar-foreground: oklch(0.98 0.0238 99.1);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.98 0.0238 99.1);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.98 0.0238 99.1);
  --sidebar-border: oklch(0.93 0.0051 228.82);
  --sidebar-ring: oklch(0.556 0 0);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer components {
  .custom-scrollbar {
    @apply overflow-y-auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

/* Smooth scroll behavior */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Hide scrollbar but keep functionality */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* hide default clock icon for input[type=time] in Chrome */
input[type="time"].hide-time-icon::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  right: 10px;
  z-index: 1;
}
